{% extends "base.html" %}

{% block title %}{{ assignment.title }}{% endblock %}

{% block content %}
<h1>{{ assignment.title }}</h1>
<p class="lead">{{ assignment.short_description }}</p>
{{ assignment.description|markdown }}

<h4>Generel anbefaling til løsninger</h4>
<p>
    Medmindre andet er angivet, så er der frit valg af programmeringssprog og teknologier. Det vil selvfølgelig være lidt
    kedeligt at bruge noget der løser problemmet for en, men det bestemmer man selv. 

    <br>

    Dog vil jeg kraftigt anbefale ikke at bruge biblioteker eller teknologier, som begrænser andre fra at køre ens kode. Det ville for eksempel være en dårlig idé at lave en iOS app, da de færreste ville kunne køre det. Man behøver ikke at kunne garantere at ens kode bare er til at compile og køre på andre systemer, men det gøre det en del nemmere for andre, hvis det ikke koster penge eller kræver bestemte enheder for at køre.
</p>

<h2>Løsninger</h2>
{% for solution in solutions %}
<p>Hej</p>
{% else %}
<p>Ingen løsninger indsendt endnu</p>
{% endfor %}
{% endblock %}