{% extends "base.html" %}

{% block title %}Forside{% endblock %}

{% block content %}
<h1>Velkommen til IMADA Kodeklub!</h1>
<p>
    Her finder du alle opgaver som der er blevet udgivet til IMADA Kodeklub.
    Der linkes også til løsninger fra dem der har deltaget, og du kan selv ligge links op til dine løsninger
</p>

{% if current_assignment %}
<div class="card">
    <div class="card-header">
        Igangværende opgave
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ current_assignment.title }}</h5>
        <p class="card-text">{{ current_assignment.short_description }}</p>
        <a href="/assignments/{{ current_assignment.id }}" class="btn btn-primary">Gå til opgave side</a>
    </div>
</div>
<br>
{% endif %}
<p>
    Der tages glædeligt imod ris, ros og idéer til opgaver på <a href="mailto:kodeklub@imadafagraad.dk">kodeklub@imadafagraad.dk</a>
</p>
<p>
    IMADA Kodeklub adminsteres af Signe Rhea Grau Kristensen
</p>



{% endblock %}