{% extends "base.html" %}

{% block title %}Log ind{% endblock %}

{% block content %}
<h1>Log ind</h1>

<button type="button" class="btn btn-outline-dark">
    <i class="fab fa-github"></i> Log ind med GitHub
</button>
<button type="button" class="btn btn-outline-dark">
    <i class="fab fa-gitlab"></i> Log ind med GitLab
</button>
<button type="button" class="btn btn-outline-dark">
    <i class="fas fa-code-branch"></i> Log ind med IMADA Git
</button>

{% endblock %}