{% extends "base.html" %}

{% block head %}
<title>OAuth - IMADA Kodeklub</title>

<meta http-equiv="Refresh" content="5; url='{{ redirect_url }}'" />
{% endblock %}

{% block body %}
{{ message }}

Du bliver sendt tilbage om 5 sekunder, ellers klik <a href="{{ redirect_url }}">her</a>
{% endblock %}