{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block content %}
{% if user %}
<ul>
    <li><b>ID</b>: {{ user.id }}</li>
    <li><b>Navn</b>: {{ user.full_name }}</li>
    <li><b>Email</b>: {{ user.email }}</li>
</ul>
{% endblock %}